<%= form_with(model: cat_form, url: cat_url(cat), method: :put) do |form| %>
  <% if cat_form.errors.any? %>
    <div style="color: red">
      <ul>
        <% cat_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cat_name, style: "display: block" %>
    <%= form.text_field :cat_name %>
  </div>

  <div>
    <%# 更新 %>
    <% cat_form.subjects.each do |subject| %>
      <%= form.label t('.subject_name'), style: "display: block" %>
      <%= form.hidden_field 'subjects[][id]', value: subject[:id] %>
      <%= form.text_field 'subjects[][name]', value: subject[:name] %>
    <% end %>

    <%# 新規 %>
    <h3><%= t('.new_subject') %></h3>
    <%= form.label t('.subject_name'), style: "display: block" %>
    <%= form.hidden_field 'subjects[][id]', value: nil %>
    <%= form.text_field 'subjects[][name]' %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
